.formValues {
  border: 5px solid goldenrod;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: auto;
  gap: 2vh;
  background-color: rgb(29, 165, 11);
  border-radius: 5px;
  box-shadow: rgba(128, 128, 128, 0.548) 5px 5px;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
  gap: 1vw;
  font-size: larger;
}

.formContainer {
  padding-top: 4vh;
}

.loginForm {
  height: 40vh;
  width: 25vw;
}

.input {
  border: 5px solid rgb(0, 0, 0);
  width: 11vw;
  height: 3vh;
  border-radius: 5px;
}

.join {
  text-decoration: underline;
  font-family: 'Alfa Slab One', cursive;
}

.formButton {
  height: 5vh;
  font-family: 'Alfa Slab One', cursive;
  border: 8px solid goldenrod;
  border-radius: 5px;
  transition: transform 0.2s;
}

.formButton:hover {
  transform: scale(1.2);
}

.newPassword {
  height: 34vh;
}