.fullPage {
  display: flex;
  background-color: gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 55vh;
  margin: auto;
  margin-top: 4vh;
  border: 8px solid rgb(0, 0, 0);
  border-radius: 6px;
}

.teamDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

h2 {
  text-align: center;
}