.gameContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  gap: 1vh;

}

.liveGame {
  border: 8px solid rgb(0, 0, 0);
  background-color: rgb(146, 146, 146);
  width: 45vw;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.2s;
}

.liveGame:hover {
  transform: scale(1.05);
  margin: 1vh;
  opacity: .7;
}

.matchup {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1vw;
  color: black;
}

.vs {
  color: rgb(153, 23, 23);
  font-size: 5ch;
  font-style: italic;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  color: black;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  color: rgb(0, 0, 0);
}

.teams {
  text-align: center;
  border: 7px solid rgb(0, 0, 0);
  margin: 1vw;
  border-radius: 6px;
  background-color: rgb(27, 165, 8);
}

.header {
  background-color: goldenrod;
  width: 17vw;
  text-align: center;
  border-radius: 9px;
}