.gameContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  gap: 2vh;

}

.liveGame {
  border: 5px solid rgb(21, 182, 0);
  background-color: rgb(146, 146, 146);
  width: 45vw;
  text-align: center;


}

.matchup {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1vw;
  color: black;
}

.vs {
  color: goldenrod;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  color: black;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  color: rgb(0, 0, 0);
}

.teams {
  text-align: center;
}