.navBar {
  display: grid;
  height: 8vh;
  align-items: center;
  grid-template-columns: 2fr 2fr 2fr;
  background-color: rgb(21, 182, 0);
  border: 10px;
  border-radius: 5px;



}

.link {
  color: rgb(196, 196, 196);
  margin: 1vw;
  font-size: x-large;
  transition: transform 0.2s;
}

.link:hover {
  transform: scale(1.4);
  color: black;
}

.logout {
  text-align: right;
  padding-right: 2vw;

}

.logoutButton {
  color: rgb(196, 196, 196);
  margin: 1vw;
  font-size: x-large;
  transition: transform 0.2s;
}

.logoutButton:hover {
  transform: scale(1.2);
}


.mainLinks {
  display: flex;
  gap: 2vw;
  padding-left: 1.5vw;



}

.name {
  text-align: center;
  justify-content: center;

  font-family: 'Alfa Slab One', cursive;
  font-size: 3vh;
  color: rgb(0, 0, 0);

}

.welcome {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clickable {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  transition: transform 0.2s;
}

.clickable:hover {
  color: goldenrod;
}