.navBar {
  display: grid;
  height: 7.5vh;
  align-items: center;
  grid-template-columns: 2fr 2fr 2fr;
  background-color: rgb(180, 53, 31);
  border: 10px;
  border-radius: 5px;



}

.link {
  color: rgb(196, 196, 196);
  margin: 1vw;
  font-size: x-large;
}

.logout {
  text-align: right;
  padding-right: 2vw;

}

.mainLinks {
  display: flex;
  gap: 2vw;
  padding-left: 1.5vw;


}

.name {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: x-large;
  color: rgb(247, 247, 247);

}