.userPicks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;

}

.userPick {


  border: 5px solid black;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.2s;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(145, 145, 145);
  width: 35vw;
  height: 23vh;

}

.intro {
  background-color: rgb(165, 165, 165);
  width: 30vw;
  margin: auto;
  border: 5px solid goldenrod;
  border-radius: 5px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.delete {
  border: 5px solid rgb(197, 23, 0);
  height: 4vh;
  width: 5.5vw;
  margin: auto;
  border-radius: 5px;
  font-family: 'Alfa Slab One', cursive;
  transition: transform 0.2s;
}

.delete:hover {
  transform: scale(1.2);
}

.winner {
  color: rgb(23, 94, 23);
}

.loser {
  color: rgb(114, 8, 9);
}